*.swp
*.dia~
.idea
.DS_Store
.eslintcache
.npmrc
.vscode
.env.dev
.eslintignore
.eslintrc.js
.prettierrc.js

jsconfig.json
tsconfig.json
webpack.config.js

yarn.lock
yarn-error.log

npm-debug.log
package-lock.json

src
demo
docs
public
node_modules

vendor*